.card-deck
  .black.card.card-inverse.card-block
    %h3.card-title= @round.black_card.text
  - 1.upto(@round.black_card.blanks) do |count|
    .white.card.card-block
      = "Card #{count}"
  %span#picks{ data: { game_id: @game.id } }
