.lead {
  font-size: 2em;
}

#cards {
  .card {
    display: none;
  }
}

#cards, #round, #hands {
  margin: 2em auto;

  .card-deck {
    margin: 0 auto;
    width: auto;
  }

  .card {
    width: 15rem;
    height: 18rem;
    margin: 0 1em;
  }

  .card {
    .card-text {
      word-wrap: break-word;
    }
  }

  .black {
    background: #333;
    color: #fff;
  }
}
