.lead {
  font-size: 2em;
}

#cards, #current-round {
  margin: 2em auto;

  .card-deck {
    margin: 0 auto;
    width: auto;
  }

  .card {
    display: none;
    width: 15rem;
    height: 18rem;
    margin: 0 1em;
  }

  .black {
    background: #333;
    color: #fff;
  }
}
